<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/static/vendors/animate/animate.css">  
  <title>h5c-vuex</title>
</head>
<body>
  <app></app>
  <script src="/static/vendors/jquery/jquery-1.11.2.js"></script>
  <script src="/static/vendors/lodash/lodash.js"></script>
  <script src="/static/vendors/jquery-ui/jquery-ui.js"></script>
  <script src="/static/vendors/plupload/plupload.full.min.js"></script>
  <script src="/static/vendors/iscroll/iscroll.js"></script>
  <script src="/static/vendors/layer/layer.js"></script>    
</body>
</html>